.App {
  text-align: center;
  color: red;
  border: 1px solid black;
  border-radius: 50px;
  margin: 20PX;
  padding: 0;
  box-shadow: 0 5px 5px rgb(151, 151, 151);
  background-color: rgb(226, 255, 61);
}

body{
  background: #dbdbdb;
}